<%- include("includes/head.ejs")%>

  <body>
    <h1>Welcome to the Home Page!</h1>
    <%= DiceVal %>
      <% if(DiceVal==6){%>
        <h2>Nice! Roll dice agian</h2>
        <% } %>

  </body>

  </html>